/*********************************************
 * GLOBAL STYLES
 *********************************************/
.reveal {
  font-size: 38px; }


/*********************************************
 * HEADERS
 *********************************************/
.reveal h1.title {
  color: #164a6d;
  font-size: 2.5em;
  text-transform: none;
}
.reveal h2.author {
  color: #000;
  font-size: 1em;
  text-transform: none;
}
.reveal h3.date {
  color: #000;
  font-size: 1em;
  text-transform: none;
}
.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  color: #164a6d;
  font-size: 2.5em;
  text-transform: none;
}


/*********************************************
 * IMAGES
 *********************************************/
.reveal section img {
  border: none;
  box-shadow: None; }

img.emoji {
  margin: 0px !important;
  height: 1em;
  font-size: 0.9em;
  vertical-align: -0.1em;
}


/*********************************************
 * HEADER & FOOTER
 *********************************************/
.reveal .markdownreveal_header,
.reveal .markdownreveal_footer {
  font-size: 0.5em;
  position: absolute !important;
  margin-left: auto !important;
  margin-right: auto !important;
  left: 0 !important;
  right: 0 !important;
  padding: 0.4em;
  background: gray;
  color: white;
  z-index: 5;
  text-align: center !important; }

.reveal .markdownreveal_footer {
  bottom: 0em !important; }

.reveal .markdownreveal_header {
  top: 0em !important; }

.reveal .markdownreveal_header a,
.reveal .markdownreveal_footer a {
  color: white; }

.reveal .logo {
  position: absolute;
  top: 0.5em;
  right: 0.5em;
  width: 4em; }
